


//Colors
$background-color:				#FFF;
$body-font-color:				#333;
$content-color: 				#FFF;
$header-background-color:		#FFF;
$footer-background-color:		#FFF;
$link-color:					#c3251d;
$link-hover-color:				#c3251d;
$button-background-color:		#c3251d;
$button-font-color:				#FFF;
$button-hover-color:			#c3251d;

//sizes
$body-font-size:				20px;
$body-font-weight:				400;
$post-entry-title-size:			30px;		